<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
</head>
<body>
<style>
    table#data, table#data tr, table#data td, table#data th{
        text-align: center;
        border: 1px solid lightsteelblue;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <td>
            <p>Fecha de Emisión:</p>
            <p>{{ today }}</p>
        </td>
        <td>
            <p><h2>&nbsp;&nbsp;&nbsp;&nbsp;Desarrolladora Madre Tierra S.A de C.V&nbsp;&nbsp;&nbsp;&nbsp;</h2></p>
        </td>
        <td>
            <p>Usuario: </p>
            <p>{{ app.user.username }}</p>
        </td>
    </tr>
</table>
<h3>Reporte de Clientes con Mayores Consumos</h3>
<span>Desde: <strong>{{ periodoInicio}}</strong></span>
&nbsp;&nbsp;
<span>Hasta: <strong>{{ periodoFin }}</strong></span>
<br/>
<table id="data">
    <thead>
    <tr>
        <th>No.</th>
        <th>Nombre Cliente</th>
        <th>Tipo Cliente</th>
        <th>Sector</th>
        <th>Consumo(M³)</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.nombreCliente }}</td>
            <td>{{ row.tipoCliente }}</td>
            {% if row.sector is defined %}
                <td>{{ row.sector }}</td>
            {% endif %}
            <td>{{ row.consumo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>